.container {

  h1 {
  font-family: sans-serif;
  font-size: .5em !important;
  text-align: center;
  }

  #cowsay-content {
    margin: 0 auto;
    width: 25%;
  }
  a {
    background: red;
    border-radius: 50%;
    display: block;
    font-family: sans-serif;
    padding: 1em;
    text-align: center;
    width: 
  }
}
