.container {

  h1 {
  font-family: sans-serif;
  font-size: 1em !important;
  text-align: center;
  }

  #cowsay-content {
    margin: 0 auto;
    width: 25%;
  }
  a {
    background: red;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    display: block;
    font-family: sans-serif;
    margin: 1em auto 0;
    padding: 1em;
    text-align: center;
    width: 4em;
  }
  a:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  a:active {
    box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,0.6);
  }
}
